<IfModule mod_rewrite.c>
RewriteEngine On
php_value auto_prepend_file "./functions.php"
RewriteRule ^$ view/ [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT} !^view/

RewriteRule ^(.*)$ view/$1
</IfModule>
